* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.Indiana-Jones {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%;
}

.day1,
.hr1,
.min1,
.sec1 {
    font-size: 3rem
}

.waiting {
    height: 50vh
}

.indianatitle {
    text-align: center;
}

.custom-shape-divider-bottom-1653639925 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653639925 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 183px;
}

.custom-shape-divider-bottom-1653639925 .shape-fill {
    fill: #9B3737;
}